<div class="container">
    <div layout="row" layout-align="center center" style="margin-top: 100px">
        <div>
              <form>
                <div class="form-group">
                  <label for="usr">Username:</label>
                  <input type="text"  class="form-control" ng-model="name" id="usr">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" ng-model="password" id="pwd">
                </div>
                <input type="submit" class="btn btn-info" ng-click="signin()" value="Login">
              </form>
        </div>
  </div>
</div>
